<div class="questions">
    <% @questions.each do |question| %>
    <div class="question-box">
    <h1>Would you rather...</h1>
    <hr>
    <div class="row">
      <div class="col-md-3 question">
        <div class="card card-block">
          <%= image_tag question.photo1 %>
          <p class="card-text"><%= question.choice1 %></p>
          <%= form_for (question), remote: true do |f| %>
            <%= f.hidden_field(:vote1, :value => question.vote1 + 1) %>
            <%= f.submit 'vote', :class => "btn btn-info", :id => question.vote1%>
          <% end %>
          <span id="<%=question.id%>_1"><%= question.vote1 %> votes</span>
          <br>
          <span id="<%=question.id%>_1_alert"></span>
        </div>
      </div>

      <div class="col-md-2 question">
        <h1>OR</h1>
        <p>Total votes: <span class="total-votes" id="<%=question.id%>_votes"> <%= question.totalVotes %> </span> </p>
          <span id="<%=question.id%>_chart" class="img-responsive"></span>
      </div>

      <div class="col-md-3 question">
        <div class="card card-block">
          <%= image_tag question.photo2 %>
          <p class="card-text"><%= question.choice2 %></p>
          <%= form_for (question), remote: true do |f| %>
            <%= f.hidden_field(:vote2, :value => question.vote2 + 1) %>
            <%= f.submit 'vote', :class => "vote_2 btn btn-info"%>
          <% end %>
          <span id="<%=question.id%>_2"><%= question.vote2 %> votes</span>
        </div>
      </div>

      <div class="col-md-4">
        <h4>Write a comment!</h4>
        <span id="<%= question.id %>_add_comment"><%= link_to "add comment", new_question_comment_path(question), class: "btn btn-primary", remote: true %></span>
        <br>
        <%= link_to "see all comments", question_path(question), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
    <% end %>
</div>
